*{
  margin: 10px;
  box-sizing: border-box;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;
  flex-direction: column;
}

.left__side{
  /* background-color: red; */
  display: grid;
}

.right__side{
  /* background-color: yellow; */
  width: auto;
  display: grid;
  grid-template-columns: 100%;
}

@media only screen and (max-width: 1200px) {
  .app{
    flex-direction: column;
  }
  .first__heading{
    flex-direction: row;
    width: 100%;
  }
  .first__dropdown{
    flex-direction: row;
    width: 100%;
  }
}


.first__dropdown{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

.app__dropdown{
  width: 100%;
}
.app__ul{
  background-color: #3c00ad;
  color: #3c00ad;
  font-size: 20px;
}

.header__menuitem{
  font-size: 20px;
  letter-spacing: 1px;
}

.first__row{
  margin: 5px;
  padding: 16px 32px;
}

.first__heading{
  font-size: 60px;
}

.second__row{
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 2%;
}

.app__cards{
  display: grid;
  grid-template-columns: 40% 40% 40%;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .app__cards{
    grid-template-columns: 100%;
  }
}

.third__row{
  display: grid;
  grid-template-columns: 100%;
  margin-top: 2%;
}

.table{
      background-color: #00162c;
      margin-top: 5px;
      color: white;
      border-radius: 5px;
}